<p><%= link_to "Upload Photo", new_photo_path %></p>

<% @photos.each do |photo| %>

  <%= photo.title %>
  <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, :target => "_blank"  %>

  <div id="photo-like-<%= photo.id %>">
    <% like = photo.find_like_by_user(current_user) %>
    <%= render :partial => "likes/show", :locals => { :photo => photo, :like => like } %>
  </div>

  <div id="photo-subscription-<%= photo.id %>">
    <% subscription = photo.find_subscription_by_user(current_user) %>

    <% if subscription %>
     <%= link_to "取消訂閱", unsubscribe_photo_path(photo), :method => :post %>
    <% else %>
      <%= link_to "訂閱", subscribe_photo_path(photo), :method => :post %>
    <% end %>
  </div>

  <div id="photo-comments-<%= photo.id %>">
    <ul>
    <% photo.comments.each do |comment| %>
      <li>
        <%= comment.content %>
        by
        <%= link_to comment.user.name, user_path(comment.user) %>
        at
        <%= comment.created_at.to_s(:short) %>
      </li>
    <% end %>
    </ul>
  </div>

  <%= form_for Comment.new, :url => photo_comments_path(photo) do |f| %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>

  <hr>
<% end %>