<p><%= link_to "Upload Photo", new_photo_path %></p>

<% @photos.each do |photo| %>

  <%= photo.title %>
  <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, :target => "_blank"  %>

  <% like = photo.find_like_by_user(current_user) %>

  <div id="photo-like-<%= photo.id %>">
  <%= render :partial => "likes/show", :locals => { :photo => photo, :like => like } %>
  </div>

  <hr>
<% end %>