<p><%= link_to "Upload Photo", new_photo_path %></p>

<% @photos.each do |photo| %>

  <%= photo.title %>
  <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, :target => "_blank"  %>

  <div id="photo-like-<%= photo.id %>">
    <% like = photo.find_like_by_user(current_user) %>
    <%= render :partial => "likes/show", :locals => { :photo => photo, :like => like } %>
  </div>

  <div id="photo-subscription-<%= photo.id %>">
    <% subscription = photo.find_subscription_by_user(current_user) %>

    <% if subscription %>
     <%= link_to "取消訂閱", unsubscribe_photo_path(photo), :method => :post %>
    <% else %>
      <%= link_to "訂閱", subscribe_photo_path(photo), :method => :post %>
    <% end %>
  </div>

  <hr>
<% end %>