<!DOCTYPE html>
<html>
<head>
  <title>SocialExercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Hi, <%= link_to current_user.name, user_path(current_user) %>
  <%= link_to "登出", auth_signout_path, :method => :post %>
<% else %>
  <a href="/auth/facebook">Facebook 登入</a>
<% end %>

<%= yield %>

</body>
</html>
